 <section id="video-section">
    <div id="video">
        {{#with item.[3]}}
        <video src="videos/{{link}}" muted autoplay loop></video>
        {{/with}}
    </div>
 </section>

 <section id="lets-work-together">
     <div class="center-me">
         <h1>Lets work together!</h1> 
     </div>

     <div class="center-pannels">
        <div class="pannels">
            {{#with item.[0]}}
            <img src="images/{{link}}" alt="camera icon" class="pannel-icon">
            <p class="pannel-text">{{description}}</p>
            {{/with}}
            <a href="/photography" class="pannel-button">Photography ►</a>
        </div>
        <div class="pannels">
            {{#with item.[1]}}
            <img src="images/{{link}}" alt="video icon" class="pannel-icon">
            <p class="pannel-text">{{description}}</p>
            {{/with}}
            <a href="/videography" class="pannel-button">Videography ►</a>
        </div>
        <div class="pannels">
            {{#with item.[2]}}
            <img src="images/{{link}}" alt="graphics icon" class="pannel-icon">
            <p class="pannel-text">{{description}}</p>
            {{/with}}
            <a href="/mograph" class="pannel-button">Motion Graphics ►</a>
        </div>
     </div>
 </section>


 <section id="brand-ive-worked-with">
        <div class="center-me">
            <h1>Brands I've Worked With</h1> 
        </div>

        <div id="brand-logo-section">
            <div>{{#with item.[4]}}<img src="images/{{link}}" alt="dream culture">{{/with}}</div>
            <div>{{#with item.[5]}}<img src="images/{{link}}" alt="dream culture">{{/with}}</div>
            <div>{{#with item.[6]}}<img src="images/{{link}}" alt="dream culture">{{/with}}</div>
            <div>{{#with item.[7]}}<img src="images/{{link}}" alt="dream culture">{{/with}}</div>
            <div>{{#with item.[8]}}<img src="images/{{link}}" alt="dream culture">{{/with}}</div>
    
            
    

        </div>


 </section>